huggingface_hub
numpy==1.21.5
Pillow==9.0.1
opencv-python==4.6.0.66
tqdm==4.61.0
pyyaml==6.0
scipy==1.7.3
scikit-image==0.19.2
scikit-learn==1.0.2
albumentations==1.1.0
torch==1.12.0
torchvision==0.13.0
efficientnet-pytorch==0.7.1
timm==0.6.12
simplejson
transformers
gradio